web/WEB-INF/wsdl/localhost_8080/SimuladorOndas.ad/simuladorOndasWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.simulador.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.simulador.com/" name="simuladorOndasWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.simulador.com/" schemaLocation="http://localhost:8080/SimuladorOndas.ad/simuladorOndasWs?xsd=1"/>
</xsd:schema>
</types>
<message name="getlistaOndas2DFinito">
<part name="parameters" element="tns:getlistaOndas2DFinito"/>
</message>
<message name="getlistaOndas2DFinitoResponse">
<part name="parameters" element="tns:getlistaOndas2DFinitoResponse"/>
</message>
<message name="getlistaOndas2DInfinito">
<part name="parameters" element="tns:getlistaOndas2DInfinito"/>
</message>
<message name="getlistaOndas2DInfinitoResponse">
<part name="parameters" element="tns:getlistaOndas2DInfinitoResponse"/>
</message>
<message name="getlistaOndas3DFinito">
<part name="parameters" element="tns:getlistaOndas3DFinito"/>
</message>
<message name="getlistaOndas3DFinitoResponse">
<part name="parameters" element="tns:getlistaOndas3DFinitoResponse"/>
</message>
<message name="getlistaOndas3DInfinito">
<part name="parameters" element="tns:getlistaOndas3DInfinito"/>
</message>
<message name="getlistaOndas3DInfinitoResponse">
<part name="parameters" element="tns:getlistaOndas3DInfinitoResponse"/>
</message>
<message name="guardarOnda">
<part name="parameters" element="tns:guardarOnda"/>
</message>
<message name="guardarOndaResponse">
<part name="parameters" element="tns:guardarOndaResponse"/>
</message>
<portType name="ondaWS">
<operation name="getlistaOndas2DFinito">
<input wsam:Action="http://ws.simulador.com/ondaWS/getlistaOndas2DFinitoRequest" message="tns:getlistaOndas2DFinito"/>
<output wsam:Action="http://ws.simulador.com/ondaWS/getlistaOndas2DFinitoResponse" message="tns:getlistaOndas2DFinitoResponse"/>
</operation>
<operation name="getlistaOndas2DInfinito">
<input wsam:Action="http://ws.simulador.com/ondaWS/getlistaOndas2DInfinitoRequest" message="tns:getlistaOndas2DInfinito"/>
<output wsam:Action="http://ws.simulador.com/ondaWS/getlistaOndas2DInfinitoResponse" message="tns:getlistaOndas2DInfinitoResponse"/>
</operation>
<operation name="getlistaOndas3DFinito">
<input wsam:Action="http://ws.simulador.com/ondaWS/getlistaOndas3DFinitoRequest" message="tns:getlistaOndas3DFinito"/>
<output wsam:Action="http://ws.simulador.com/ondaWS/getlistaOndas3DFinitoResponse" message="tns:getlistaOndas3DFinitoResponse"/>
</operation>
<operation name="getlistaOndas3DInfinito">
<input wsam:Action="http://ws.simulador.com/ondaWS/getlistaOndas3DInfinitoRequest" message="tns:getlistaOndas3DInfinito"/>
<output wsam:Action="http://ws.simulador.com/ondaWS/getlistaOndas3DInfinitoResponse" message="tns:getlistaOndas3DInfinitoResponse"/>
</operation>
<operation name="guardarOnda">
<input wsam:Action="http://ws.simulador.com/ondaWS/guardarOndaRequest" message="tns:guardarOnda"/>
<output wsam:Action="http://ws.simulador.com/ondaWS/guardarOndaResponse" message="tns:guardarOndaResponse"/>
</operation>
</portType>
<binding name="ondaWSPortBinding" type="tns:ondaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getlistaOndas2DFinito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getlistaOndas2DInfinito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getlistaOndas3DFinito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getlistaOndas3DInfinito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarOnda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="simuladorOndasWs">
<port name="ondaWSPort" binding="tns:ondaWSPortBinding">
<soap:address location="http://localhost:8080/SimuladorOndas.ad/simuladorOndasWs"/>
</port>
</service>
</definitions>